<h1>All Superpowers</h1>

<ul>
  <% @powers.each do |powpow| %>
    <li>
      <%= link_to powpow.name, power_path(powpow) %>
      <br>
      Description: <%= powpow.description %>
      <br>
      Heroines With Power: <%= powpow.heroines.length %>
    </li>
    <br>
  <% end %>
</ul>
